<!DOCTYPE html>
<html lang="fr">
    <%- include ('./partials/head') %>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 m-5 text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@image">@Ajouter une image</button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Nouvelle image</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                        <form method="post" action="/photos" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="title" class="col-form-label">Titre de l'image :</label>
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                                <div>
                                    <label for="formFileLg" class="form-label">Choisir une image</label>
                                    <input class="form-control form-control-lg" id="imageUrl" name="imageUrl" accept="image/*" type="file">
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
    <script>
       /* var form = document.querySelector('form');
        form.addEventListener("submit", addMovie);	

        function addMovie(event) {
            if(window.fetch) { // Si le navigateur supporte fetch
                addMovieUsingFetch(event);
            } else {
                addMovieUsingXHR(event);
            }
        }	

        function addMovieUsingFetch(event) {
            console.log('using addMovieUsingFetch()');
            event.preventDefault();

            fetch('/movies', {
                method: 'POST',
                body: new FormData(form)
            })
            .then(checkStatus) // On verifie manuellement si le status est ok ou pas
            .catch(function(error) {
                console.log('request failed', error)
            });
        } 

        function checkStatus(response) {
            if (response.status >= 200 && response.status < 300) {					
                let newMovieDiv = document.createElement('div');
                const movieTitle = document.getElementById('movieTitle').value;
                const movieYear = document.getElementById('movieYear').value;
                newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`;
                document.querySelector('.french-movies').appendChild(newMovieDiv);
                form.reset();

            } else {
                const error = new Error(response.statusText);
                error.response = response;
                throw error;
            }
        }
        
        function addMovieUsingXHR(event) {
            // this browser does NOT support fetch. Fall back to XHR
            event.preventDefault();
            console.log('using addMovieUsingXHR()');				

            // https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/movies-old-browser', true);

            //Send the proper header information along with the request
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {//Call a function when the state changes.
                if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {

                    form.reset();
                }
            }
            // https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
            console.log('form: ', form);
            var movieTitle = document.getElementById('movieTitle').value;
            var movieYear = document.getElementById('movieYear').value;
            var payLoad = "movieTitle=" + movieTitle + "&" + "movieYear=" + movieYear; 
            xhr.send(payLoad); 				
        }*/
    </script>
</body>
</html>